<div class="container">
  <div class="p-5 mt-4 bg-body-secondary rounded-3">
    <div class="d-flex flex-row justify-content-center align-items-center">
      <img src="./../assets/myTodoListIcon.svg" class="logo me-2" />
      <h1 class="d-flex justify-content-center">{{ title }}</h1>
    </div>
  </div>
  <br />
  <sevo-todo-add (addTodo)="addTodoHandler($event)"></sevo-todo-add>
  <br />
  <sevo-card
    [footer]="false"
    title="Todos aktiv"
    *ngIf="todosActive.length > 0"
  >
    <sevo-todo-list card-body>
      <sevo-todo
        *ngFor="let todo of todosActive"
        [id]="todo.id"
        [title]="todo.title"
        [done]="todo.done"
        (doneChange)="changeTodoHandler($event)"
        (delete)="deleteTodoHandler($event)"
      ></sevo-todo>
    </sevo-todo-list>
  </sevo-card>
  <br />
  <sevo-card
    [footer]="false"
    title="Todos erledigt"
    *ngIf="todosDone.length > 0"
  >
    <sevo-todo-list card-body>
      <sevo-todo
        *ngFor="let todo of todosDone"
        [id]="todo.id"
        [title]="todo.title"
        [done]="todo.done"
        (doneChange)="changeTodoHandler($event)"
        (delete)="deleteTodoHandler($event)"
      ></sevo-todo>
    </sevo-todo-list>
  </sevo-card>
</div>
